*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
}
/*appropriate logo size*/
#logo{
    color: white;
    margin-right: 5px;
}
.navbar{
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}
/**//*//////////////////////////////////////*/
/*////////flex box styling guide////////*/
/*//////////////////////////////////////*/
.wrapper{
/*    border-radius: 10px;*/
    padding: 5px;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    background-color: #ddbea9;
    background-position: center;
}

.main1{
    display: flex;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
/*    background-color: beige;*/
    height: 92.9vh;
}
.sidebar{
/*    top:0;*/
/*    left:0;*/
/*    margin-left: ;*/
    width:fit-content;
/*    height: 90vh;*/
    border-radius: 10px;
    border-right: 2px solid rgba(255,255,255,.2);
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);

}
.sidebar .link-name{
    opacity: 1;
    pointer-events: none;
}
.list .list-item{
/*  background: yellowgreen;*/
    list-style: none;
    width:100%;
    height: 50px;
    margin:5px 0;
    line-height: 50px;
}
.list .list-item a,
.list .list-item a:hover{
/*  background: blue;*/
    border-radius: 7px;
    display:flex;
    align-items: center;
    font-size:18px;
    text-decoration: none;
    color:black;
    font-size: 23px;
    margin-top: 10px;
    margin-right: 10px;
    transition: .5s;
    white-space: nowrap;
/*    background: rgba(255, 255, 255, .2);*/
}

.list .list-item a i{
    min-width: 50px;
    height:50px;
/*  background: salmon;*/
    text-align: center;
    line-height: 50px;
}
/*back to flexbox */
.middle{
/*    background-color: teal;*/
    width: 50%;
/*    height: 90vh;*/
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    border-radius: 10px;
/*    margin: 0px;*/
}
.middle img{
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 15px;
    /*margin: 0px auto;
    padding: 2px;
    border-radius: 3px;*/
}
.aside{
/*    background-color: red;*/
    display: flex;
    flex-direction: column;
    padding:5px;
/*    height: 60vh;*/
    width: 30%;
    grid-gap: .5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
/*    object-fit: true;*/
/*    overflow: hidden;*/
}
/*.aside-top{
    background-color: red;
}
.aside-bottom{
    background-color: blue;
}*/
.aside img{
    height: 100%; 
    width: 100%; 
    border-radius: 10px;
}
.main2{
/*    background-color: aqua;*/
    display: inline-flex;
    padding:10px;
    grid-gap: 1rem;
/*    grid-gap: 2rem;*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 90px;
    border-radius: 35px;
/*    justify-content: space-evenly;  */
    justify-content: space-around;  /* best for evenly spacing items */
/*    align-items: center;*/
/*    column-gap: 1em;*/
}
.category{
    display: flex; 
    background-color: white; 
    /*  even spacing in flex layout??  */
    border-radius: 10px;
/*    font-family: Georgia, Times, serif; */
    padding: 7px; 
    margin: 5px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.category img{
    width: 40px; 
    height: 40px;
}
.category h2{
    margin: 4px;
}
.category:hover{
    transform: scale(1.2);
    transition: 450ms;
    border-radius: 10px;
}
.main4{
/*    margin: 8px;*/
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    border-right: 2px solid rgba(255,255,255,.2);
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    border-radius: 10px;
}
.main4 img{
    height:200px;
    width:100%;
    border-radius: 10px;
/*    align-content: stretch;*/
}

.main3{
/*    background-color: yellowgreen;*/
    display: flex;
    padding:5px;
/*    height: 750;*/
    margin: 5px;
}
.main3-container{
    margin: 5px; 
    grid-gap: .9rem;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 100%;    /* fit exact screen width */
    height: 100%;
}
.advert{
    max-height:750px;   /* allows for responsive div */
    max-width: 320px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    overflow: hidden;
    align-content: center;
}
.advert:hover{
    transform: scale(0.9);
    transition: 450ms;
    border-radius: 10px;
}
.advert a{
    /*  allow for add button to appear normally despite being a link in a bluebackground  */
    text-decoration: none;
    color: white;
}
.advert-img{
/*    object-fit: cover;*/
    height: 430px; 
    width: 300px;
    border-radius: 10px;
    background-color: teal;
    overflow: hidden;   /* hides the outer parts that dont fit in div */
/*    border: 3px dashed green;*/
/*    border: 3px solid;*/
}
.advert-text{
    margin-top: 3px;
}
.advert-price{
    font-weight: 600; 
    font-family: 'Times New Roman', Times, serif;
}
.advert-price strike{
    color: gray;
}
.advert-enclose{
    display: flex;
}
.advert-btn{
    margin-left: 10%;
    margin-top: 7%;
}
.advert-left{
    text-align: center;
}
.footer {
    height: 15vh;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
}


/* form styling */

.form{
    margin: 0px auto;   /*/////// used to center a div////////*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 50px;
    padding-top: 0px auto;
    padding-bottom: 0px auto;
/*    height: 50vh;*/
    width: 600px;
    border-right: 2px solid rgba(255,255,255,.2);
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    border-radius: 10px;
    line-height: 40px;
}

.form-group{
    font-size: 25px;
    font-weight: bold;
}
.form-group button{
    margin-top: 20px;
}

/*PROFILE PAGE STYLING*/
.profile{
/*    background-color: red;*/
    height: 60vh;
    display: flex;
/*    padding: 20px;*/
    grid-gap: 1rem;
}
.profile-sidebar{
/*    background-color: green;*/
/*    height: 90vh;*/
    width: fit-content;
    border-radius: 10px;
    border-right: 2px solid rgba(255,255,255,.2);
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.profile-sidebar div{
    margin: 20px;
}
.profile-main{
/*    background-color: yellow;*/
    padding:50px;
    width: 65%;
    border-radius: 10px;
    border-right: 2px solid rgba(255,255,255,.2);
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.profile h3{
    align-self: center;
}
/*change the button link to be a normal button appearance*/
.profile a{
    text-decoration: none;  /* remove the underline */
    color: inherit;     /* remove the blue text  */
}

/*error page styling*/
.error {
    margin-left: 15%;
    margin-top: 15px;
    height: 80vh;
    width: 900px;
}
.table{
    width: 100%;
}
.add-items-image{
    margin: 5px;
    height: 70px;
    width: 70px;
    border-radius: 30px;
}

