{% extends 'base.html' %}

{% block title %} Admin - Add items {% endblock %}


{% block body %}

<table class="table table-striped table-success table-hover table-bordered border-dark table-responsive-md">
<caption > Administrative duties </caption>
  <thead class="table-dark">
    <tr>
      <th scope="col"> Product Name </th>
      <th scope="col"> Cuerrent Price</th>
      <th scope="col"> Previous Price</th>
      <th scope="col"> In Stock </th>
      <th scope="col"> Product Picture </th>
      <th scope="col"> Flash Sale </th>
      <th scope="col"> Add Product </th>
      <th scope="col"> Update Product </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr class="">
     
     	<form method='POST' enctype="multiport/form-data">
     		{{ form.hidden_tag() }}
     		<td> {{ form.product_name }}</td>
     		<td> {{ form.current_price }}</td>
     		<td> {{ form.previous_price }}</td>
     		<td> {{ form.in_stock }}</td>
     		<td> {{ form.product_pic }}</td>
     		<td> {{ form.flash_sale }}</td>
     		<td> {{ form.add_product }}</td>
     		<td> {{ form.update_product }}</td>
     		
     	</form>
     	
    </tr>
  </tbody>
</table>

{% endblock %}



