{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}

{% block body %}

<div class="wrapper">

	<!-- main1 section -->
	<div class="main1">
		<!-- sidebar div and code -->
		<div class="sidebar">	
			<ul class="list">
				<li class="list-item active">
					<a href="#">
						<i class='bx bxs-store'></i>
						<span class="link-name"> Market </span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<i class='bx bxs-book-open'></i>
						<span class="link-name"> E-readers & Books </span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<i class='bx bxs-home'></i>
						<span class="link-name"> Office Supplies </span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<i class='bx bxs-brush'></i>
						<span class="link-name"> Arts & Crafts </span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<i class='bx bxs-camera'></i>
						<span class="link-name"> Fashion </span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<i class='bx bx-dumbbell' ></i>
						<span class="link-name"> Sporting Equipment </span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<i class='bx bxs-game' ></i>
						<span class="link-name"> Gaming </span>
					</a>
				</li>
				<li class="list-item">
					<a href="#">
						<i class='bx bx-laptop'></i>
						<span class="link-name"> Electronics </span>
					</a>
				</li>
			</ul>
		</div>

		<!-- middle div and code -->
		<div class="middle">
			<img src="static/images/gifs/mainGif.gif"></img>
			<!-- <img src="static/images/gifs/market.gif"></img> -->
		</div>

		<!-- aside right code and div -->
		<div class="aside">
 			<div class="aside-top">
				<img src="static/images/gifs/market.gif"></img>
			</div>

 			<div class="aside-bottom">
				<img src="static/images/gifs/samsung.gif"></img>
			</div>
		</div>
	</div>

	<!-- main2 section -->
	<div class="main2">
		<div class="category">
			<img src="static/images/electronics/weekTech.jpg">
			<h5> Week of Tech </h5>
		</div>

		<div class="category">
			<img src="static/images/back2school.jpg">
			<h5> Back to School </h5>
		</div>

		<div class="category">
			<img src="static/images/freeDelivery.jpg">
			<h5> Free Deliveries </h5>
		</div>

		<div class="category">
			<img src="static/images/offers.jpg">
			<h5 href="#"> Offers & Discounts </h5>
		</div>

		<div class="category">
			<img src="static/images/airtime.png">
			<h5> Airtime & Bills </h5>
		</div>


	</div>

	<!-- add another section here to strech with only gif -->
	<div class="main4">
		<img src="static/images/gifs/newSales.gif">
	</div>

	<!-- main3 section -->
	<div class="main3">
		<div class="main3-container".>

		{% for item in items %}
			<div class="advert">

				<div class="advert-img">
					<img src="{{ item.picture }}">
				</div>

				<div class="advert-txt">
					<h3> {{ item.name }} </h3>
				</div>

				<div class="advert-enclose">
					<div class="advert-price">
						<h4> Ksh.{{ item.current_price }} </h4>
						<strike><p> Ksh.{{ item.past_price }} </p></strike>
					</div>
					<div class="advert-btn">
						<button type="submit" class="btn btn-primary">
							<a href="/add-to-cart/{{item.id}}"> Add </a>
						</button>
					</div>
				</div>

				<div class="advert-left">
					<p> {{ item.instock }} Items left </p>
				</div>

			</div>	
		{% endfor %}

		</div>
	</div>

</div> 

{% endblock %}