{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}

{% block body %}

<!-- <div class="container"> -->
<div class="card-grid">

	<div class="sidebar">
		<!-- <div class="logo-menu">
			<h2 class="logo"> Products </h2>
			<i class="bx bx-menu toggle-btn"></i>
		</div> -->

		<ul class="list">
			<li class="list-item active">
				<a href="#">
					<i class='bx bxs-store'></i>
					<span class="link-name"> Market </span>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<i class='bx bxs-book-open'></i>
					<span class="link-name"> E-readers & Books </span>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<i class='bx bxs-home'></i>
					<span class="link-name"> Office Supplies </span>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<i class='bx bxs-brush'></i>
					<span class="link-name"> Arts & Crafts </span>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<i class='bx bxs-camera'></i>
					<span class="link-name"> Fashion </span>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<i class='bx bx-dumbbell' ></i>
					<span class="link-name"> Sporting Equipment </span>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<i class='bx bxs-game' ></i>
					<span class="link-name"> Gaming </span>
				</a>
			</li>
			<li class="list-item">
				<a href="#">
					<i class='bx bx-laptop'></i>
					<span class="link-name"> Electronics </span>
				</a>
			</li>
		</ul>
	</div>

	<div class="card">
	    <h1> Hello world</h1>
	</div>

	<div class="card">
		<h1> Hello world</h1>
	</div>

	<div class="card">
		<h1> Hello world</h1>
	</div>
</div>
<!-- </div> -->

{% endblock %}