{% extends 'forms.html' %}
{% block title %} Login {% endblock %}

{% block body %}

	<form method="POST">

		<fieldset class="form">

			{{ form.hidden_tag() }}

			<h1 align="center"> Login </h1>

			<div class="form-group">
				{{ form.email.label }}
				{{ form.email(class='form-control', placeholder='Enter Email') }}
			</div>

			<div class="form-group">
				{{ form.password.label }}
				{{ form.password(class='form-control', placeholder='Enter Password') }} 
			</div>

			<div align="center" class="form-group">
				{{ form.login(class='btn btn-primary') }}
			</div>
			
		</fieldset>


	</form>

{% endblock %}
