{% extends 'base.html' %}

{% block title %} View Cart {% endblock %}

{% block body %}

	<div class="main3">
		<div class="main3-container".>
			{% if cart %}
			{% for item in cart %}

			<div class="advert">

				<div class="advert-img">
					<img src="{{ item.products.picture }}">
				</div>

				<div class="advert-txt">
					<h3> {{ item.products.name }} </h3>
				</div>

				<div class="advert-enclose">
					<div class="advert-price">
						<h4> Ksh.{{ item.products.current_price }} </h4>
						<strike><p> Ksh.{{ item }} </p></strike>
					</div>
					<div class="advert-btn">
						<button type="submit" class="btn btn-primary" > Add </button>
					</div>
				</div>

				<div class="advert-left">
					<p> {{ item }} Items left </p>
				</div>

			</div>
			{% endfor %}

		{% else %}

		<div class="cart-page">
			<h1> Oh no! It looks like your cart is empty... </h1>
			<img src="static/images/gifs/usage.gif">
			<h2> <a href="{{ url_for('views.index')}}"> Add items now?</a> </h2>
		</div>
		{% endif %}



		</div>
	</div>
{% endblock %}
